@charset "ISO-8859-1";
:root {
    --back: #151519;
    --dark-gray: #1D1D20;
    --light-gray: #C4C4C4;
    --green: #45B578;
    --hover-green: #45b577bd;
  }
  
  body {
    background-color: var(--back);
    color: white;
  }
  
  
  
 
  
  h3 {
    color: white;
  }
  
  /* Ajuste diretamente a classe .green-button */
  .green-button {
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  /* Remova a cor azul no hover aplicada pelo Bootstrap */
  .green-button:hover {
    background-color: var(--hover-green);
    color: white;
    transition: all 0.3s;
  }
  
  a {
    color: white;
  }
  
  a:hover {
    color: var(--light-gray);
  }
  ul {
   background-color: var(--dark-gray);
  }
  
  span{
  color: var(--hover-green);
  
  }